# System files
.env
.DS_Store
.directory
node_modules
vendor

data/*
!data/**/*.sql
!data/.gitkeep 
!data/update_db_siteurl_home.sh

*/themes/twenty*
*/themes/index.php

# CUSTOM USER CONFIG VSCODE - per evitare di formattazione automatica del codice altrui
.vscode/settings.json
*.code-workspace
!wp-docker.code-workspace


## Uploads (only wp generated thumbnails) ##
*/uploads/**/**/*-[0-9]*x[0-9]*.*
*/uploads/woocommerce_uploads
*/uploads/wc-logs

## PLUGINS ##
*/plugins/*
# exceptions
!*/plugins/*-simple-cookie-banner
!*/plugins/*-simple-GTM-plugin

src/*
src/wp-admin/*
src/wp-includes/*
src/wp-*.php
!src/wp-config.php
*/.htaccess
